*{
	margin: 0;
	padding: 0;
}
body{
	color: #333;
	font-size: 14px;
	background-color: #f8f8f8;
	font-family: PingFangSC-Semibold, sans-serif;
}
a {
    text-decoration: none;
    color: #333;
}
ul li{
	list-style: none;
}
p{
	margin-bottom: 0;
}
.header_nav,.slider_banner,
.classify-list,.hot_tabs,
.tool,.open_company,.hot_tj
,.ru_zhu,.footer_nav{
	max-width:750px !important;
	margin: 0 auto;
	background-color: #fff;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.margin-top-10{
	margin-top: 10px;
}
.header_nav{
	background-color: #5d7cda;
}
.ding_wei{
	height: 100%;
	display: block;
}
.ding_wei img{
	margin: 10px 0 0 0;
}
.ding_wei span{
	color:#fff;
	font-size: 16px;
	line-height: 44px;
}
.search_box{
	position: relative;
	padding: 0 0 0 15px;
}
.search_box img{
	position: absolute;
	top:12px;
	left: 25px;
	display: block;
	width: 20px;
}
.search_box input{
	font-size: 14px;
	text-align: left;
	padding-left: 35px;
	margin-top: 7px !important;
	border-radius: 15px;
	border:1px solid #fff;
	background-color: #c2d0fa;
}
/*搜索弹框页面*/
.search_abox{
	width: 100%;
	max-width: 750px;
	padding: 15px;
	background-color: #fff;
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
}
@media only screen and (min-width: 750px) {
	.search_abox{
		left:9px;
	}
}
.search_input{
	height: 34px;
	position: relative;
}
.search_input .sea_btn{
	display: block;
	position: absolute;
	top:0px;
	left:0px;
	width: 40px;
	border-radius: 17px;
}
.search_input .sea_btn img{
	display: block;
	width: 20px;
	margin: 8px auto 0 auto; 
}
.search_input input{
	width: 83%;
	margin: 0;
	border-radius: 17px;
	padding-left: 35px;
	text-align: left;
	font-size: 14px;
	border:1px solid #e5e5e5;
	background-color: #fafafa;
	display: inline-block;
}
.search_input a{
	display: inline-block;
	width: 15%;
	height: 34px;
	line-height: 34px;
	text-align: right;
	font-size: 16px;
}
.sure_box{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 200;
	background-color: rgba(0,0,0,0.7);
}
.alert_box{
	width: 70%;
	border-radius:5px;
	overflow: hidden;
	/*margin: 0 auto;*/
	background-color: #fff;
}
.alert_box p:first-child{
	color:#333;
	font-size: 16px;
	text-align: center;
	padding: 40px 0;
}
.alert_box p:first-child+p{
	
}
.alert_box p button{
	box-sizing: border-box;
	display: inline-block;
	border:1px soid #e5e5e5;
	border-radius: 0;
	text-align: center;
	font-size: 14px;
	padding: 10px 0 !important;
	margin: 0 !important;
}
.alert_box p .reset_btn:hover{
	color:#666;
	background-color: #fafafa;
}
.alert_box p .sure_btn{
	color: #fff;
	border: 1px solid #e33431;
	background-color: #e33431;
}

.old_search{
	margin-top: 20px;
}
.old_search p{
	font-size: 16px;
}
.old_search p a{
	display: block;
	color:#666;
	width: 40px;
	text-align: center;
}
.old_search ul li{
	float: left;
	margin: 15px 10px 0 0;
}
.old_search ul li a{
	display: inline-block;
	width: auto;
	font-size: 12px;
	color:#666;
	text-align: center;
	padding: 2px 10px;
	border-radius: 10px;
	border:1px solid #e5e5e5;
	background-color: #fafafa;
}
.muea_btn{
	height: 100%;
	position: relative;
}
.muea_btn img{
	display: block;
	width: 50%;
	float: right;
	margin: 20px 5px 0 0;
}
@media only screen and (min-width:768px ){
	.muea_btn img {
	    display: block;
	    width: 30%;
	    float: right;
	    margin: 20px 5px 0 0;
	}
}
.cd_list{
	width: 150px;
	position: absolute;
	top:50px;
	right: 10px;
	display: block;
	box-sizing: border-box;
	padding: 15px 20px;
	background: url(../img/cd_bg.png) center no-repeat;
	background-size: 100% 100%;
}
.cd_list li a{
	position: relative;
	display: block;
	line-height: 24px;
	padding: 10px 0 5px 0;
	border-top: 1px solid #e5e5e5;
}
.cd_list li:first-child a{
	border-top: none;
}
.cd_list li a img{
	position: absolute;
	top:10px;
	left: 0;
	width: 24px;
	max-height: 24px;
}
.cd_list li a span{
	font-size: 14px;
	margin-left: 40px;
}

.slider_banner{
	margin-top: 44px;
}
.classify-list ul{
	padding: 10px 10px !important;
	background-color: #fff !important;
}
.classify-list ul li{
	width: 20%;
	padding: 0 !important;
	margin-bottom: 5px !important;
	border:none !important;
}
.classify-list ul li a img{
	width: 46px;
	height: 46px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
.classify-list ul li a div{
	font-size: 14px !important;
}
.hot_tabs{
	padding-bottom: 15px;
}
.top_div{
	padding: 10px;
	/*margin-bottom: 10px;*/
}
.top_div .tabs_title{
	color: #333;
	font-size: 16px;
	padding-left: 5px;
	border-left: 4px solid #2752d5;
}
.top_div a img{
	width: 16px;
	height: 16px;
	margin: 2px 5px 0 0;
}
.top_div a span{
	font-size: 14px;
}
.tabs_list ul{
	border:none !important;
	background-color: #fff !important;
}
.tabs_list ul li{
	background-color: #fff !important;
	padding: 0 4px 4px 0 !important;
	border:none !important;
}
.tabs_list ul li:first-child+li+li+li,
.tabs_list ul li:first-child+li+li+li+li+li+li+li{
    padding: 0!important;
}
.tabs_list ul li a{
	display: block;
	height: 50px;
	line-height: 50px;
	background-color: #f8f8f8;
}
.tool .top_div {
	padding: 10px 10px 0 10px;
}
.tool .top_div a img {
    width: 8px;
    height: 8px;
    margin: 7px 0 0 5px;
}
.tool .top_div .tabs_title span{
	color: #666;
	font-size: 12px;
	padding-left: 10px;
}
.mui-grid-view.mui-grid-9{
	border:none !important;
}
.oc_title{
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #f8f8f8;
}
.oc_title p:first-child {
	width: 115px;
	margin: 0 auto 10px auto;
	font-size: 16px;
	color:#333;
}
.oc_title p:first-child img{
	width: 24px;
	display: inline-block;	
}
.oc_title p:first-child span{
	margin: 2px 0 0 5px;	
}
.open_company .oc_content div{
	padding: 20px 0;
}
.open_company .oc_content div a{
	display: block;
	padding: 0;
}
.open_company .oc_content div a p{
	display: block;
	text-align: center;
}
.open_company .oc_content div a p img{
	display: block;
	width: 100px;	
	height: 65px;
	margin: 0 auto;	
}
.open_company .oc_content div a p:first-child{
	color:#333;
	font-size: 16px;
}
.open_company .oc_content div a p:first-child+p{
	color:#666;
	font-size: 12px;
}
.open_company .oc_content div a p:first-child+p+p{
	margin-top: 10px;
	width: 100%;
}
.open_company .oc_content div:first-child+div{
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
}
.open_company .adv{
	padding: 0 10px;
}
.open_company .adv img{
	width: 100%;
}
.company_list{
	padding:0 10px;
}
.company_list .list_box{
	display: block;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
}
.company_list .list_box:first-child{
	border-top: none;
}
.company_list .list_box .com_img{
	width: 20%;
}
.company_list .list_box .com_img img{
	width: 60px;
	height: 60px;
	display: block;
	margin-top: 10px;
	border-radius: 50%;
	/*margin:0 auto;*/
}
.list_box .com_info {
	width: 80%;
}
.list_box .com_info p{
	margin-bottom: 5px;
}
.list_box .com_info p:first-child span a{
	color:#333;
	font-size: 16px;
}
.list_box .com_info p:first-child img{
	width: 20px;
	height: 20px;
}
.list_box .com_info p.com_tabs span a{
	display: inline-block;
	color:#666;
	font-size: 12px;
	padding: 0px 5px;
	margin-right: 5px;
	border-radius: 15px;
	border: 1px solid #e5e5e5;
}
.list_box .com_info p.watched_num img{
	width: 16px;
	margin-top: 3px;
	margin-right: 5px;
}
.list_box .com_info p.watched_num span{
	color:#666;
	font-size: 12px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
    font-size: 14px;
    line-height: 18px;
    display: block;
    width: 100%;
    height: 18px;
    margin-top: 8px;
    text-overflow: ellipsis;
    color: #333;
}
.hot_tj .oc_title{
	border-bottom: 1px solid #e5e5e5;
}
.hot_tj .oc_title p span{
	margin: 8px 0 0 5px;
}
.hot_tj .tj_company{
	padding:0 10px;
}
.tj_company .company_box{
	padding:15px 0;
	border-top: 1px solid #e5e5e5;
}
.tj_company .company_box:first-child{
	padding:15px 0;
	border-top: none;
}
.tj_company .company_box div:first-child{
	width: 76%;
}
.tj_company .company_box div:first-child p{
	margin-bottom: 10px;
}
.tj_company .company_box div:first-child+div{
	width: 24%;
}
.company_name a{
	color:#333;
	font-size: 16px;
}
.company_tab a{
	display: inline-block;
	color:#666;
	font-size: 12px;
	padding: 0 5px;
	margin-right: 0px;
	border:1px solid #e5e5e5;
	border-radius: 15px;
}
.company_info span{
	font-size: 12px;
	display: inline-block;
	line-height: 14px;
	padding: 0 5px;
	border-left: 1px solid #666;
}
.company_info span:first-child{
	border-left: none;
}
.company_img a{
	display: block;
	float: right;
	width: 80px;
	height: 80px;
	line-height: 80px;
	margin: 10px auto 0 0;
	padding: 10px;
	border:1px solid #e5e5e5;
	border-radius: 10px;
}
.company_img a img{
	display: inline-block;
	width: 100%;
	/*margin-top: 15px;*/
}
.blue_tabs{
	width: 100%;
	margin-top: 10px;
}
.blue_tabs p{
	display: inline;
	width: auto !important;
	color:#2752d5;
	padding: 2px 8px;
	font-size: 12px;
	text-align: center;
	border:1px solid #2752d5;
	border-radius: 5px;
}
.ru_zhu{
	padding: 10px;
	margin-top: 5px;
}
.ru_zhu p{
	color:#333;
	font-size: 14px;
	padding: 10px 0;
}
.ru_zhu p span{
	color:#2552d5;
	font-size: 18px;
	font-weight: 700;
	
}
.ru_zhu a{
	display: block;
	color:#fff;
	padding: 12px 15px;
	font-size: 16px;
	line-height: 16px;
	border-radius: 10px;
	background-color: #2552d5;
}

.ban_quan{
	padding: 30px 0 20px 0;
	margin-bottom: 50px;
}
.ban_quan p{
	text-align: center;
	color:#999;
	font-size: 12px;
	margin-bottom: 10px;
}
.footer_nav{
	/*padding: 0 10px;*/
	background-color: #fff;
	box-shadow: none;
	border-top:1px solid #e5e5e5;
}
.footer_nav a img{
	width: 34%;
	max-width: 34px;
	margin: 0 auto 5px auto;
}
.footer_nav a{
	padding: 6px 0 0 0;
	font-size: 14px;
	color:#333 !important;
}
.footer_nav .home_img{
	width: 70%;
	max-width: 70px;
	margin: 2px auto 0 auto;
}





@media only screen and (max-width: 320px) {
	.company_list .list_box .com_img {
	    width: 18%;
	}
	.company_list .list_box .com_img img {
	    width: 50px;
	    height: 50px;
	    display: block;
	    margin-top: 10px;
	    border-radius: 50%;
	    /* margin: 0 auto; */
	}
	.list_box .com_info {
	    width: 82%;
	}
	.list_box .com_info p.com_tabs span {
	    padding:0;
	    margin-right: 0px;
	}
	.list_box .com_info p.com_tabs span a {
	    padding: 0px 4px;
	    margin-right: 0px;
	}
	.ding_wei span {
	    color: #fff;
	    font-size: 13px;
	    line-height: 44px;
	}
	.company_tab a {
	    display: inline-block;
	    color: #666;
	    font-size: 12px;
	    padding: 0px 2px;
	    margin-right: 0px;
	    border: 1px solid #e5e5e5;
	    border-radius: 15px;
	}
	.company_img a {
	    display: block;
	    float: right;
	    width: 70px;
	    height: 70px;
	    line-height: 60px;
	    margin: 10px auto 0 0;
	    padding: 10px;
	    border: 1px solid #e5e5e5;
	    border-radius: 10px;
	}
}