body{ 
	margin:0 auto; 
	font-family: "Microsoft YaHei", "SimSun"; 
	font-size: 1.0rem; 
	background: #fff;
	position: relative;
	max-width: 750px;
}
*{ 
	padding:0px; 
	margin:0px;
	}
a { 
	text-decoration: none;
	}
a img{ 
	border:0;
	}
img{ 
	border:0;
	vertical-align:bottom;
	}
ul{ 
	margin:0; 
	padding:0;
	}
li{
	list-style-type:none;
	}
input, button, select, textarea { 
	outline: none;
	}
textarea {
	resize: none;
	}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:after{content:"";display:block;height:0;clear:both;}
.clearfix{*+height:1%;}
.login-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
}
.login-top{
	width:100%;
	height: 60px;
	line-height: 60px;
	position: relative;
	text-align: center;
}
.login-topa{
	border-bottom: 1px solid #e5e5e5;
}
.login-top p{
	font-size: 1.2rem;
	color: #333;
}
.login-top .top-a{
	position: absolute;
	right: 3%;
	top: 0px;
	color: #333;
}
.login-top .top-aa{
	position: absolute;
	left: 3%;
	top: 0px;
	color: #333;
}
.login-top .top-aa img{
	float: left;
	width: 13px;
	margin: 17px 10px 0 0;
}
.login-ul{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
}
.login-ul ul{
	width:100%;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #e5e5e5;
}
.login-ul ul li{
	float:left;
	font-size:1.0rem;
	height:44px;
	line-height:44px;
	width:30%;
	text-align:center;
	cursor:pointer;
	background:#fff;
	margin: 0 10%;
}
.login-ul .hit{
	border-bottom:1px solid #2552d5;
	cursor:pointer;
	color:#2552d5;
}
.pane{
	border-top:0;
	min-height:100px;
	background-color:#fff;
	display:none;
	clear: both;
	}
.login-name{
	width:90%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	border-bottom:1px solid #e5e5e5;
	position: relative;
}
p.err-txt{
	position: absolute;
	top: 110px;
	color: red;
	font-size: 0.8rem;
}
p.err-txta{
	position: absolute;
	top: 60px;
	color: red;
	font-size: 0.8rem;
}
p.err-txtb{
	position: absolute;
	top: 150px;
	color: red;
	font-size: 0.8rem;
}
p.err-txtc{
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: absolute;
	text-align: left;
	top: 100px;
	color: red;
	font-size: 0.8rem;
}
.login-name p.in-p{
	float: left;
	padding: 0 5% 0 1%;
}
.login-name input.na-input{
	width: 70%;
	float: left;
	background: none;
	border: none;
	font-size: 1.0rem;
	font-family: "微软雅黑";
	line-height: 50px;
	color: #333;
}
.login-name p.in-pa{
	width:28%;
	float: left;
}
.login-name p.in-pb{
	color: #00a5d7;
}
.login-name input.na-inputa{
	width: 50%;
	float: left;
	background: none;
	border: none;
	font-size: 1.0rem;
	font-family: "微软雅黑";
	line-height: 50px;
	color: #333;
}
.login-name input.na-inputb{
	width: 40%;
	float: left;
	background: none;
	border: none;
	font-size: 1.0rem;
	font-family: "微软雅黑";
	line-height: 50px;
	color: #333;
}
.login-yzm{
	width: 30%;
	float: right;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #ff9e00;
	margin-top: 8px;
}
.login-yzm a{
	color: #FFFFFF;
	display: block;
	font-size: 0.9rem;
}
.msgs1{
	background:#e5e5e5;
	color:#666;
	}
.login-name a img{
	width:25px;
	float: left;
	margin: 15px 0 0 5px;
}
p.login-wj{
	width:90%;
	height: 65px;
	line-height: 65px;
	text-align: right;
	color: #333;
	margin: 0 auto;
}
p.login-wj a{
	color: #666;
}
.login-btn{
	width:90%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #e5e5e5;
	border-radius: 5px;
	margin: 0 auto;
}
.login-btn input{
	width:100%;
	font-size: 1.1rem;
	background: none;
	border: none;
	color: #fff;
}
.login-dsf{
	width:90%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	margin: 50px auto 10px;
	text-align: center;
}
.login-dsf p{
	line-height: 50px;
}
.login-dsf p span {
    display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/
    font-size:1.1rem;
    color: #999;
    position: relative;   /*定位横线（当横线的父元素）*/
}
.login-dsf p span:before,.login-dsf p span:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 25px;
    background: #999;       /*宽和高做出来的背景横线*/
    width: 25%;
    height: 1px;
}
.login-dsf p span:before{
    left: 2%;        /*调整背景横线的左右距离*/
}
.login-dsf p span:after {
    right: 2%;
}
.login-dsf a img{
	width:70px;
	margin: 15px auto;
}
.login-zh{
	width:90%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	margin: 50px auto 10px;
	text-align: center;
}
.login-zh p{
	color: #ff9e00;
	line-height: 40px;
}
.login-zhsj{
	width:99%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #333333;
	color: #333;
	border-radius: 5px;
	margin: 0 auto;
}
.login-zhsj a{
	color: #333;
}
p.zc-p{
	width: 90%;
	height: 60px;
	line-height: 60px;
	color: #333;
	margin: 30px auto;
}
/*忘记密码页面样式*/
.wjmm-con{
	width:100%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	text-align: center;
}
.wjmm-con img.wj-login{
	width:40%;
	margin: 30px auto;
}
.wjmm-con p.wj-p{
	width:90%;
	min-height: 40px;
	height: auto;
	overflow: hidden;
	line-height: 40px;
	margin: 0 auto;
	color: #333;
	text-align: left;
	font-size: 0.9rem;
	border-bottom: 1px solid #e5e5e5;
}
.wjmm-con p.wj-p a{
	color: #999;
}
.wj-mm{
	width:90%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}
.wj-mm input.mm-in{
	width:100%;
	height: 50px;
	line-height: 50px;
	background: none;
	border: none;
	text-align: left;
	font-size: 0.9rem;
	color: #666;	
}
.wj-mm input.mm-ina{
	width:60%;
	height: 50px;
	line-height: 50px;
	background: none;
	border: none;
	text-align: left;
	font-size: 0.9rem;
	color: #666;
	float: left;
}
.wj-mm a{
	float: right;
}
.wj-mm a img{
	width:60%;
	float: right;
	margin-top: 10px;
}
.wjmm-btn{
	width:90%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 50px auto;
	background: #2552d5;
	border-radius: 8px;
}
.wjmm-btn input{
	width:100%;
	background: none;
	border: none;
	color: #fff;
	font-size: 1.0rem;
}
/*联合登陆*/
.lhdl-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}
.lhdl-con img.lh-img{
	width:25%;
	margin: 30px auto 15px;
}
p.gl-p{
	width:90%;
	margin: 0 auto;
	color: #777;
	text-align: left;
	line-height: 40px;
}
p.gl-p span{
	color: #333;
	font-size: 1.2rem;
	}
p.gl-pa{
	width:90%;
	margin: 0 auto;
	color: #333;
	text-align: left;
	line-height: 40px;
}
p.gl-p img{
	float: left;
	margin: 5px 5px 0 0;
}
.lhdl-btn{
	width:90%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: #2552D5;
	border-radius: 8px;
	margin: 5px auto;
}
.lhdl-btn input{
	width:100%;
	background: none;
	border: none;
	font-size: 1.0rem;
	color: #fff;
}
.gl-b{
	width:90%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 8px;
	margin: 15px auto;
}
.gl-b a{
	color: #666666;
	display: block;
}
p.qfh-zh{
	width:90%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
	margin-top: 120px;
}
p.qfh-zh a{
	color: #333;
}
/*办公室场所登录*/
.bg-cs{
	width:100%;
	min-height: 100px;
	height: auto;
	/*overflow: hidden;*/
	background: url(../img/bg_banner.jpg) center 0 no-repeat;
	background-size: 100% 100%;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
}
.bg-top{
	width:95%;
	height: 70px;
	line-height: 70px;
	margin: 0 auto;
}
.bg-top .bg-topl{
	width:18%;
	float: left;
}
.bg-top .bg-topl img{
	width:15px;
	float: left;
	margin: 22px 5px 0 0;
}
.bg-top .bg-topl a{
	color: #fff;
	font-size: 16px;
}
.bg-top .bg-topm{
	width: 70%;
	float: left;
}
.bg-top .bg-topm .bg-ma{
	width:95%;
	min-height: 35px;
	height: auto;
	overflow: hidden;
	border: 1px solid #FFF;
	border-radius: 35px;
	margin: 20px auto 0;
	background: rgba(255,255,255,0.2);
}
.bg-top .bg-topm .bg-ma img{
	float: left;
	width: 20px;
	margin: 5px 3% 0;
}
.bg-top .bg-topm .bg-ma input{
	width:80%;
	height: 34px;
	float: left;
	background: none;
	border: none;
	color: #fff;
	line-height: 34px;
	margin: 0;
	padding: 0;
	font-size: 0.9rem;
}
.bg-top .bg-topm .bg-ma input::-webkit-input-placeholder{
	color: #FFF;
}
.bg-top .bg-topm .bg-ma input:-moz-placeholder{
	color: #FFF;
}
.bg-top .bg-topm .bg-ma input::-moz-placeholder{
	color: #FFF;
}
.bg-top .bg-topm .bg-ma input:-ms-input-placeholder{
	color: #fff;
}
.bg-top .bg-topr{
	width:10%;
	float: right;
}
.bg-top .bg-topr .gs-a{
	display: block;
	width: 100%;
	height:100%;
	border:1px solid transparent;
}
.bg-top .bg-topr img.tr-img{
	width:100%;
	display: block;
	margin-top: 35px;
}
@media only screen and (min-width: 768px) {
	.bg-top .bg-topr img.tr-img{
		width:auto;
		display: block;
		margin: 0 auto;
		margin-top: 35px;
	}
}
.bg-top .bg-topra{
	width:23%;
	float: right;
	/*text-align: right;*/
}
.bg-top .bg-topra a.cc-a{
	float: left;
}
.bg-top .bg-topra a.cc-b{
	float: right;
}
.bg-top .bg-topra a.cc-b img{
	width:70%;
	margin-top: -14px;
	float: right;
}
@media screen and (min-width:750px){
.bg-top .bg-topra a.cc-b img{
	width:90%;
	margin-top: 30px;
	float: right;
}
}
.bg-top .bg-topra img.ra-a{
	width:50%;
	float: left;
	margin: 28px 5px 0 0;
}
.bg-bom{
	width:95%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid transparent;
}
p.bom-p{
	font-size: 1.3rem;
	color: #fff;
	line-height: 40px;
	padding: 0;
	margin: 20px 0 0 0;
}
p.bom-pa{
	color: #fff;
	line-height: 40px;
	padding: 0;
	margin: 0 0 20px 0;
}
.bg-nav{
	width:100%;
	height: 50px;
	line-height: 50px;
	background: #fff;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
}
.bg-nav ul li{
	width:39%;
	float: left;
	text-align: center;
	position: relative;
	background: url(../img/sx_bb.png) 75%  center no-repeat;
}
.bg-nav ul li.hit{
	color: #2552d5;
	background: url(../img/sx_aa.png) 75%  center no-repeat;
}
.bg-nav ul li.li-a{
	width: 20%;
	border-left: 1px solid #e5e5e5;
	float: left;
	background: none;
	text-align: center;
}
.bg-nav ul li.li-a p{
	float: left;
	color: #333;
	font-size: 1.0rem;
	margin-left: 20%;
	text-align: center;
}
.bg-nav ul li.li-a img{
	width: 15px;
	float: left;
	margin-top: 20px;
	margin-left: 4%;
}
.bg-nav ul li span{
    display:block;
    width:0;
    height:0;
    border-width:5px 5px 0;
    border-style:solid;
    border-color:#666666 transparent transparent;/*黄 透明 透明 */
    position: absolute;
    right: 16%;
    top: 23px;
}
.panea{
	width:100%;
	border-top:0;
	min-height: 600px;
	display:none;
	background: rgba(0,0,0,0.5);
	max-width: 750px;
	position: absolute;
	top: 51px;
	}
.fp-radio{ 
	line-height: 30px; 
	border-radius:5px;
	background: #f0f0f0;
	float:left;
	text-align: center;
	color: #333;
	margin: 10px 2.5%;
	font-size: 0.8rem;
	padding: 2px 2%;
	}
.fp-radioa{ 
	line-height: 30px; 
	border-radius:5px;
	background: #f0f0f0;
	float:left;
	text-align: center;
	color: #333;
	margin: 10px 2.5%;
	font-size: 0.8rem;
	padding: 2px 2%;
	}
.paneb{
	width:100%;
	border-top:0;
	height:100%;
	display:none;
	background: rgba(0,0,0,0.5);
	max-width: 750px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	}
.pane-ul{
	width:100%;
	min-height: 150px;
	height: auto;
	overflow: hidden;
	background: #fff;
}
.pane-ula{
	width:70%;
	min-height: 100%;
	background: #fff;
	float: right;
	position: relative;
}
.sx-a{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 15px;
}
.pane-ula p{
	line-height: 40px;
	padding: 0 5%;
	color: #333333;
	font-size: 1.0rem;
	margin:30px 0 0 0;
}
.fp-radiob{ 
	width: 30%;
	line-height: 30px; 
	border-radius:5px;
	background: #f0f0f0;
	float:left;
	text-align: center;
	color: #333;
	margin: 10px 1.5%;
	font-size: 0.8rem;
	padding: 2px 0;
	text-align: center;
	}
.fp-radioc{ 
	width: 30%;
	line-height: 30px; 
	border-radius:5px;
	background: #f0f0f0;
	float:left;
	text-align: center;
	color: #333;
	margin: 10px 1.5%;
	font-size: 0.8rem;
	padding: 2px 0;
	text-align: center;
	}
.fp-radiod{ 
	width: 30%;
	line-height: 30px; 
	border-radius:5px;
	background: #f0f0f0;
	float:left;
	text-align: center;
	color: #333;
	margin: 10px 1.5%;
	font-size: 0.8rem;
	padding: 2px 0;
	text-align: center;
	}
.dw-a{
	width:100%;
	min-height: 40px;
	height: auto;
	overflow: hidden;
}
.dw-a .dw-aleft{
	padding: 0 2.5%;
	line-height: 35px;
	height: 35px;
	background: #f0f0f0;
	border-radius:5px;
	float: left;
	margin: 0 1.5%;
}
.dw-a .dw-aleft img{
	width: 13px;
	margin: 8px 5px 0 0;
	 float: left;
}
.dw-a .dw-aleft p.le-p{
	float: left;
	color: #333;
	padding: 0;
	line-height: 35px;
	margin: 0;
	font-size: 0.9rem;
}
.dw-a .dw-aright{
	padding: 0 2.5%;
	line-height: 35px;
	height: 35px;
	float: left;
	margin: 0 1.5%;
}
.dw-a .dw-aright img{
	width: 13px;
	margin: 10px 5px 0 0;
	 float: left;
}
.dw-a .dw-aright span{
	color: #999;
}
.share-btn{
	width:100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	
}
.share-btn .share-btnl{
	width:50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #2552d5;
	float: left;
}
.share-btn .share-btnl input{
	width:100%;
	background: none;
	height: 40px;
	border: none;
	color: #FFF;
	font-size: 1.0rem;	
}
.share-btn .share-btnr{
	width:50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #ff9e00;
	float: left;
}
.share-btn .share-btnr input{
	width:100%;
	background: none;
	height: 40px;
	border: none;
	color: #FFF;
	font-size: 1.0rem;	
}
.bg-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	max-width: 750px;
	margin: 0 auto;
}
.bg-con .bg-cona{
	width:100%;
	padding: 15px 2.5%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
}
.bg-con .bg-cona:last-child{
	width:100%;
	padding: 15px 2.5%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border-bottom:none;
	background: #fff;
}
.bg-con .bg-cona img{
	width:25%;
	float: left;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	
}
.bg-con .bg-cona a{
	display: block;
}
.bg-con .bg-cona .bg-conb{
	width:73%;
	float: right;
}
.bg-con .bg-cona .bg-conb h1{
	font-size: 1.0rem;
	color: #333;
}
.bg-con .bg-cona .bg-conb h1 a.tg{
	padding: 3px 5px;
	border: 1px solid #2752d5;
	float: right;
	border-radius: 5px;
	font-size: 0.7rem;
	font-weight: normal;
	color: #2752d5;
}
a.a-bq{
	color: #333;
	float: left;
}
.bg-con .bg-cona .bg-conb ul{
	clear: both;
}
.bg-con .bg-cona .bg-conb ul li{
	float: left;
	border: 1px solid #e5e5e5;
	color: #444;
	font-size: 0.7rem;
	border-radius: 15px;
	margin: 10px 5px 0 0;
	background: #f8f8f8;
	padding: 0 5px;
}
@media screen and (max-width:360px){
	.bg-con .bg-cona .bg-conb ul li {
	    margin: 10px 2px 0 0;
	}
}
@media screen and (max-width:320px){
	.bg-con .bg-cona img {
	    width: 17%;
	    float: left;
	    border: 1px solid #E5E5E5;
	    border-radius: 10px;
	    margin-top: 20px;
	}
.bg-con .bg-cona .bg-conb ul li{
	float: left;
	border: 1px solid #e5e5e5;
	color: #444;
	font-size: 0.7rem;
	border-radius: 15px;
	margin: 10px 2px 0 0;
	background: #f8f8f8;
	padding: 0 5px;
}
.bg-con .bg-cona .bg-conb{
	width:82%;
	float: right;
}
.bg-con .bg-cona .bg-conb h1{
	font-size: 0.9rem;
	color: #333;
}
.fp-radiob{ 
	width: 30%;
	line-height: 30px; 
	border-radius:5px;
	background: #f0f0f0;
	float:left;
	text-align: center;
	color: #333;
	margin: 10px 1.5%;
	font-size: 0.7rem;
	padding: 2px 0;
	text-align: center;
	}
.share-btn{
	width:100%;
	height: 40px;
	position: absolute;
	bottom: 30px;
	
}
.bg-nav ul li{
	width:39%;
	float: left;
	text-align: center;
	position: relative;
	background: url(../img/sx_bb.png) 80%  center no-repeat;
}
.bg-nav ul li.hit{
	color: #2552d5;
	background: url(../img/sx_aa.png) 80%  center no-repeat;
}
}
.bg-con .bg-cona .bg-conb p{
	clear: both;
	line-height: 40px;
	color: #999;
}
.login-ts{
	width:100%;
	min-height: 200px;
	height: auto;
	overflow: hidden;
}
.login-ts p{
	padding: 30px 2.5%;
	color: #666;
}
.login-ts .ts-btn{
	width: 40%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #2552d5;
	margin: 0 auto;
	border-radius: 5px;
}
.login-ts .ts-btn a{
	color: #fff;
	display: block;
}
.bg-gg{
	width:100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
}
.bg-gg img{
	width:100%;
}
.xg-fw{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	padding: 15px 0;
}
.xg-fw .xg-fwtop{
	width:100%;
	height:50px;
	line-height: 50px;
	text-align: center;
}

.xg-fw .xg-fwtop span {
    display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/
    font-size:1.1rem;
    color: #333;
    position: relative;   /*定位横线（当横线的父元素）*/
}
.xg-fw .xg-fwtop span:before,.xg-fw .xg-fwtop span:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 25px;
    background: #e5e5e5;       /*宽和高做出来的背景横线*/
    width: 80px;
    height: 1px;
}
.xg-fw .xg-fwtop span:before{
    left: 15%;        /*调整背景横线的左右距离*/
}
.xg-fw .xg-fwtop span:after {
    right: 15%;
}
.xgfw-nav{
	width:100%;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 25px;
}
.xgfw-nav ul li{
	width:25%;
	float: left;
	line-height: 40px;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
}
.xgfw-nav ul li:nth-child(4n){
	width:24.5%;
	float: left;
	line-height: 40px;
	border-right:none;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
}
.xgfw-nav ul li a{
	color: #333;
}
.gs-zc{
	width:100%;
	height: 60px;
	line-height: 60px;
	background: #FFF;
	max-width: 750px;
	margin: 0 auto;
	padding: 0 2.5%;
	position: relative;
}
.zc-ts{
	width:100%;
	min-height: 120px;
	height: auto;
	overflow: hidden;
	text-align: center;
	padding-bottom: 35px;
	background: #f8f8f8;
}
.zc-ts p{
	margin: 30px auto 10px;
	line-height: 40px;
	color: #333333;
	font-size: 1.1rem;
}
.gs-zc .gs-zcl{
	width:15%;
	float: left;
}
.gs-zc .gs-zcl img{
	width:12px;
	float: left;
	margin: 18px 5px 0 0;
}
.gs-zc .gs-zcl a{
	color: #333;
}
.gs-zc .gs-zcm{
	width:72%;
	height: 40px;
	line-height: 40px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 35px;
	margin-top: 10px;
}
.gs-zc .gs-zcm img{
	margin: 10px 0 0 5px;
	width:20px;
	float: left;
}
.gs-zc .gs-zcm input{
	width:80%;
	float: left;
	background: none;
	border: none;
}
.gs-zc .gs-zcr{
	width:10%;
	float: right;
}
.gs-zc .gs-zcr img.zc-img{
	width: 80%;
	float: right;
	margin-top: 25px;
}
@media only screen and (min-width:750px) {
	.gs-zc .gs-zcr img.zc-img{
		width: 60%;
		float: right;
		margin-top: 25px;
	}
}
.ss-jg{
	width:100%;
	min-height: 150px;
	height: auto;
	overflow: hidden;
	padding: 40px 0;
	text-align: center;
}
.ss-jg img{
	width:25%;
}
.ss-jg p{
	line-height: 40px;
	color: #666666;
}
.ss-jg p span{
	color: #e61717;
}
.tj-p{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #e5e5e5;
}
.ssjg-p{
	width:95%;
	padding: 0 10px;
	margin: 15px auto;
	height: 20px;
	line-height: 20px;
	color: #333;
	font-size: 1.1rem;
	border-left: 3px solid #2552d5;
}
/*分类-企业库*/
.fl-qyk{
	width:100%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	background-image: -moz-linear-gradient(left, #5675d4, #94aeff); 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5675d4), color-stop(1,#94aeff)); 
	max-width: 750px;
	margin: 0 auto;
}
.fl-con{
	width:100%;
	min-height: 400px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto 70px;
}
.fl-con ul{
	width: 25%;
	min-height: 500px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	float: left;
	padding-bottom: 30px;
}
.fl-con ul li{
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	color: #333;
}
.fl-con ul li.hits{
	background: #f8f8f8;
	color: #2552d5;
}
.paneaa{
	width:70%;
	float: left;
	min-height: 200px;
	height: auto;
	overflow: hidden;
	margin-left: 2.5%;
	display: none;
	text-align: center;
}
.paneaa img.fl-img{
	width:100%;
	margin: 15px auto 0px;
}
.paneaa p.pan-p{
	text-align: left;
	line-height: 50px;
	font-size: 1.0rem;
}
.fenl-con{
	width:100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	padding-bottom: 15px;
}
.fenl-con .fenl-a{
	width:100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	padding: 15px 2.5%;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
}
.fenl-con .fenl-a:last-child{
	width:100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	padding: 15px 2.5%;
	margin: 0 auto;
	border-bottom:none;
}
.fenl-con .fenl-a img{
	width: 10%;
	float: left;
	margin-top: 5px;
}
.fenl-con .fenl-b{
	width:60%;
	float: left;
	text-align: left;
	padding: 0 5%;
}
.fenl-con span{
	font-size: 0.9rem;
}
.fenl-con .fenl-b p.fl-p{
	color: #333;
	font-size: 1.0rem;
	line-height: 25px;
	margin: 0;
}
.fenl-con .fenl-b p.fl-pa{
	color: #666;
	font-size: 0.8rem;
	margin: 0;
}
.fl-tj{
	width:100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	padding:15px 2.5%;
	border-bottom: 1px solid #e5e5e5;
}
.fl-tj img{
	width:25%;
	float: left;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
}
.fl-tj .fl-tjr{
	width:73%;
	float: left;
	margin-left: 2%;
}
.fl-tj .fl-tjr h1{
	font-size: 0.8rem;
	color: #333;
	text-align: left;
}
.fl-tj .fl-tjr h1 a{
	width:87%;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis ;
	white-space: nowrap ;
	float: left;
}
.fl-tj .fl-tjr h1 img{
	float: right;
	border: none;
	width:8%;
}
.fl-tj .fl-tjr ul.fl-ul{
	margin-top: 4px;
	min-height: 30px;
	height: auto;
	overflow: hidden;
	padding-bottom: 0;
	width:100%;
}
.fl-tj .fl-tjr ul.fl-ul li{
	height: 25px;
	line-height: 25px;
	float: left;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	font-size: 0.7em;
	padding: 0 2%;
	margin: 0 1% 4px 0;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
	padding: 0 10px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll{
	height: auto;
}
p.qyxq-p{
	clear: both;
	margin: 0;
	padding: 0;
	
}
.qyxq-fs{
	width:100%;
	height: 45px;
	position: absolute;
	bottom: 0;
}

.qyxq-fs .qyxq-fsr{
	width:30%;
	float: right;
	margin-right: 2.5%;
}
.qyxq-fs .qyxq-fsr p{
	color: #fff;
	text-align: center;
	line-height: 60px;
	text-align: right;
	padding-right: 10%;
}
.qyxq-fs .qyxq-fsr p a{
	color: #fff;
}
.qyxq-fs .qyxq-fsr ul li{
	width:50%;
	float: left;
	text-align: center;
	color: #fff;
	line-height: 20px;
}
#popover{
		height: 200px;
		width:200px;
	}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{
	background: none;
	border: none;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	border-bottom: none;
}
.qyxq-top{
	width:100%;
	min-height: 200px;
	height: auto;
	background: #fff;
	max-width: 750px;
	margin: 0 auto 10px;
	position: relative;
	text-align: center;
	padding-bottom: 15px;
}
.qyxq-top h1{
	color: #333333;
	line-height: 40px;
	font-size: 1.0rem;
	display: table;
	margin: 0px auto 0;
	text-align: center;
	padding-top: 60px;
}
@media screen and (min-width:750px){
.qyxq-top h1{
	color: #333333;
	line-height: 40px;
	font-size: 1.0rem;
	width: 260px;
	margin: 0px auto 0;
	text-align: center;
	padding-top: 160px;
}
}
.qyxq-top h1 span{
	max-width: 270px;
	float: left;
}
.qyxq-top h1 img.h1-img{
	width: 20px;
	float: left;
	display: block;
	margin: 10px 0 0 5px;
}
.qyxq-top img.qx-logo{
	width:26%;
	position: absolute;
	left: 37%;
	top: -50px;	
}
.qyxq-top ul.qx-top{
	width:80%;
	margin: 0 auto 10px;
}
.qyxq-top ul.qx-top li{
	padding: 1px 5px;
	text-align: center;
	float: left;
	background: #f8f8f8;
	border-radius: 8px;
	border: 1px solid #e5e5e5;
	margin: 0 1.5%;
	font-size: 0.8rem;
	margin-bottom: 10px;
}
.qyxq-top .qx-top{
	width:80%;
	text-align: center;
	/*height: 30px;*/
	margin: 0 auto;
}
.qyxq-top .qx-top a{
	/*width:18%;*/
	text-align: center;
	/*float: left;
	height: 30px;*/
	background: #f8f8f8;
	border-radius: 15px;
	border: 1px solid #e5e5e5;
	margin: 5px 0.5%;
	font-size: 0.8rem;
	padding: 0 2.5%;
	display: inline-block;
}
.qx-jiben{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	margin: 0 auto 10px;
	background: #fff;
	max-width: 750px;
	padding-bottom: 20px;
}
.qx-jiben p.jb-p{
	width:95%;
	height: 20px;
	line-height: 20px;
	border-left: 2px solid #2552d5;
	color: #333;
	font-size: 1.0rem;
	margin: 15px auto;
	padding: 0 2.5%;
}
.qx-jiben p.jb-p a{
	float: right;
	color: #2752d5;
}
.qx-jiben p.jb-p span{
	float: left;
}
.qx-jiben p.jb-p img{
	float: left;
	width:20px;
	margin-left: 5px;
}
.qx-jiben ul{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #f8f8f8;
}
.qx-jiben ul li{
	width:33.3%;
	float: left;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
	text-align: center;
	padding: 10px 0;
	color: #333;
	font-size: 0.9rem;
}
.qx-jiben ul li:nth-child(3){
	width:33.3%;
	float: left;
	border-right:none;
	text-align: center;
	padding: 10px 0;
	color: #333;
	border-bottom: 1px solid #f8f8f8;
}
.qx-jiben ul li:nth-child(4){
	width:50%;
	float: left;
	border-right:none;
	text-align: center;
	padding: 10px 0;
	color: #333;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}
.qx-jiben ul li:nth-child(5){
	width:50%;
	float: left;
	border-right:none;
	text-align: center;
	padding: 10px 0;
	color: #333;
	border-right:none;
	border-bottom: 1px solid #f8f8f8;
}
.qx-jiben ul li span{
	color: #999;
}
.rxfw-c{
	max-width:750px;
	min-height: 240px; 
	height: auto;
	overflow: hidden; 
	margin: 0 auto;
}
.rxfw-ca{
	width:200px;
	background: #f8f8f8;
}
p.qyxq-pp{
	color: #ff9e00;
	text-align: left;
}
p.qyxq-pp span{
	color: #999999;
	padding: 0 10px;
}
.qyxa-jianj{
	width:95%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0;
}
.qyxa-jianj img{
	width:18%;
	float: left;
	margin-top: 35px;
}
.qyxa-jianj:last-child{
	width:95%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	border-bottom:none;
	padding: 15px 0;
}
.jj-pt{
	width:80%;
	float: left ;
	margin-left: 2%;
}
p.xz-p{
	color: #333333;
	font-size: 1.0rem;
	line-height: 30px;
}
p.xz-pa{
	color: #666666;
	font-size: 0.9rem;
	line-height: 25px;
}
.more-n{
	width:95%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 auto;
	padding: 10px 0;
}
.more-n:last-child{
	width:95%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	border-bottom:none;
	margin: 0 auto;
	padding: 10px 0;
}
.more-n img{
	width:30%;
	float: left;
	border: 1px solid #e5e5e5;
}
.more-n .more-right{
	width:68%;
	float: right;
}
.more-n .more-right p{
	height: 50px;
	line-height: 25px;
}
.more-n .more-right .more-bot{
	width:100%;
	height: 30px;
	margin-top: 8px;
}
.more-n .more-right .more-bot span.sa-l{
	color: #2552d5;
	border: 1px solid #2552d5;
	padding:2px 5px;
	border-radius: 2px;
}
.more-n .more-right .more-bot span.sa-la{
	float: right;
	color: #999;
}
.jb-img{
	width:30%;
	float: left;
	text-align: center;
	margin: 0 0 10px 2.5%;
}
.jb-img img{
	width: 100%;
	border: 1px solid #e5e5e5;
}
.xq-foot{
	width:100%;
	height: 60px;
	line-height: 60px;
	background: #FFF;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #e5e5e5;
	z-index: 999;
}
.xq-foot ul{
	width:100%;
	height: 60px;
	line-height: 60px;
	background: #FFF;
	margin: 0 auto;
	max-width: 750px;
}
.xq-foot ul li{
	width:33%;
	border-right: 1px solid #e5e5e5;
	float: left;
}
.xq-foot ul li a{
	display: block;
}
.xq-foot ul li .li-ce{
	width:60%;
	margin: 0 auto;
}
.xq-foot ul li img{
	width:23px;
	float: left;
	margin: 18px 3px;
}
.xq-foot ul li p{
	float: left;
	color: #333;
	font-size: 1.0rem;
}
.xq-foot ul li.rl-li{
	width:33.9%;
	background: #ff9e00;
	text-align: center;
}
.xq-foot ul li.rl-li a{
	color: #fff;
}
/*企业库底部导航*/
.act_color span{
	color:#2552d5 !important;
}
/*我的关注*/
.gs-zcma{
	width:72%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
	margin-top: 10px;
}
.gs-zcma p{
	color: #333333;
	font-size: 1.1rem;
}
.gs-zcra{
	width:10%;
	float: right;
}
.wdgz-top{
	width:100%;
	height: 60px;
	line-height: 60px;
	border-top: 1px solid #e5e5e5;
	padding: 0 3%;
	position: relative;
}
.wdgz-top .wdgz-topl{
	width:100%;
	left: 0;
	position: absolute;
}
.wdgz-top .wdgz-topl p{
	float: left;
	color: #333;
	font-size: 1.0rem;
}
.wdgz-top .wdgz-topl img{
	width:15px;
	float: left;
	margin: 25px 0 0 5px;
}
.wdgz-top .wdgz-topr{
	width:50%;
	position: absolute;
	right: 4%;
	top: 0px;
}
.mui-table-view-cell{
	padding: 0;
}
.mui-table-view-cell>a:not(.mui-btn){
	margin: 0;
}
.mui-navigate-right:after, .mui-push-right:after{
	right: auto;
}
.mui-table-view-cell.mui-collapse.mui-active{
	margin-top: 0;
}
.mui-table-view-cell.mui-active{
	background:rgba(0,0,0,0.3);
}
.mui-table-view{
	
	background: none;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content{
	margin-top: 0;
	padding-top: 0;
	background: none;
}
.mui-collapse-content p{
	width:97%;
	border-bottom: 1px solid #e5e5e5;
	clear: both;
	line-height: 40px;
	font-size: 0.9rem;
	padding-left: 3%;
}
.mui-collapse-content p.p-xz a{
	display: block;
	color: #2552d5;
}
.mui-collapse-content p.p-xz a img{
	float: right;
	margin-top: 15px;
}

.wdgz-top .wdgz-topr a{
	width:25px;
	height: 25px;
	display: block;
	float: right;
	margin-top: 18px;
}
.wdgz-top .wdgz-topr img{
	width:23px;
	float: right;
}
.m-bg{
	width:100%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	background: #fff;
}
.ss-tk{
	width:100%;
	height: 61px;	
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	padding: 0 3%;
	display: none;
}
.ss-tk .ss-tkl{
	width:85%;
	height: 35px;
	line-height: 35px;
	float: left;
	background: #e5e5e5;
	border-radius: 35px;
	margin-top: 10px;
}
.ss-tk .ss-tkl img{
	width:20px;
	float: left;
	margin: 8px 0 0 4%;
}
.ss-tk .ss-tkl input{
	width:80%;
	float: left;
	height: 33px;
	line-height: 33px;
	background: none;
	border: none;
	font-family: "微软雅黑";
	font-size: 0.9rem;
}
.ss-tk .ss-tkr{
	width:15%;
	text-align: center;
	line-height: 35px;
	float: left;
	margin-top: 10px;
}
.ss-tk .ss-tkr a{
	font-size: 1.0rem;
	color: #333;
}
/*产品*/
.chanp-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
	border-top: 1px solid #e5e5e5;
}
.chanp-con .btn_title{
	padding: 5px 10px;
	border-bottom: 1px solid #e5e5e5;
}
.chanp-con .btn_title .choose_all{
	float: left;
	width: 60px;
	padding: 5px 0;
}
.chanp-con .btn_title .choose_all input{
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 4px;
	margin-right: 10px;
}
.chanp-con .btn_title .choose_all span{
	float: left;
}
.chanp-con .btn_title .dels{
	float: right;
	display: block;
	padding: 5px;
	color:#2552d5 !important;
}
.chanp-con .chanp-cona{
	width:95%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	padding: 10px 0;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
}
.chanp-con .chanp-cona .chan-left{
	width:10%;
	float: left;
}
.chanp-con .chanp-cona .chan-left input{
	width:18px;
	height: 18px;
	margin: 0 auto;
	margin-top: 28px;
}
.chanp-con .chanp-cona .chan-right{
	width:90%;
	float: left;
}
.chanp-con .chanp-cona .chan-right img{
	width:30%;
	float: left;
}
.chanp-con .chanp-cona .chan-right .chan-righta{
	width:67%;
	float: right;
}
.chanp-con .chanp-cona .chan-right .chan-righta h1{
	font-size: 1.0rem;
	color: #333;
	font-weight: normal;
}
.chanp-con .chanp-cona .chan-right .chan-righta h1 a{
	width: 100%;
	height: 20px;
    line-height: 20px;
}
.chanp-con .chanp-cona .chan-right .chan-righta p{
	margin-top: 20px;
	color: #ff9e00;
}
.chanp-con .chanp-cona .chan-right .chan-righta p span{
	color: #999999;
	padding: 0 15px;
}
.txt-num1{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
/*企业管理*/
.qygl-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
	border-top: 1px solid #e5e5e5;
}
.qygl-con .qygl-cont{
	width:100%;
	height: 60px;
	line-height: 60px;
	background: #f8f8f8;
	padding: 0 3%;
}
.qygl-con .qygl-cont input{
	width:15px;
	height: 15px;
	float: left;
	margin-top: 23px;
	margin-right: 5px;
}
.qygl-con .qygl-cont p{
	float: left;
	color: #333333;
	font-size: 1.0rem;
}
.qygl-con .qygl-cona{
	width:100%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	padding: 10px 2.5%;
	border-bottom: 1px solid #e5e5e5;
}
.qygl-con .qygl-cona .qygl-aleft{
	width:7%;
	float: left;
}
.qygl-con .qygl-cona .qygl-aleft input{
	width:15px;
	height: 15px;
	margin-top: 35px;
}
.qygl-con .qygl-cona .qygl-art{
	width:93%;
	float: left;
}
.qygl-con .qygl-cona .qygl-art img{
	width:25%;
	float: left;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
}
.qygl-con .qygl-cona .qygl-art .qygl-ab{
	width:73%;
	float: right;
}
.qygl-con .qygl-cona .qygl-art .qygl-ab h1{
	font-size: 0.9rem;
}
.qygl-con .qygl-cona .qygl-art .qygl-ab ul{
	clear: both;
	margin: 5px auto;
}
.qygl-con .qygl-cona .qygl-art .qygl-ab ul li{
	background: #f8f8f8;
	float: left;
	border: 1px solid #e5e5e5;
	border-radius: 20px;
	padding: 0 5px;
	margin :5px 5px 5px 0;
	font-size: 0.8rem;
}
.qygl-con .qygl-cona .qygl-art .qygl-ab p{
	clear: both;
	line-height: 30px;
}
.qxgz-btn{
	width:50%;
	height: 50px;
	position: fixed;
	bottom: 80px;
	left: 25%;
	border-radius: 35px;
	background: #2552d5;
	line-height: 50px;
	text-align: center;
}
.qxgz-btn a{
	display: block;
	color: #FFF;
	font-size: 1.1rem;
}
/*工具页面*/	
.gj-con{
	width:100%;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto 60px;
}
.gj-con .gj-cona{
	width:100%;
	text-align: center;
}	
.gj-con .gj-cona img{
	width:100%;
}
.rn-gj{
	width:100%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	background: #FFF;
	margin-bottom: 10px;
	padding-bottom: 15px;
}
.rn-gj p.p-bt{
	width:95%;
	height: 20px;
	margin: 20px auto;
	padding-left: 2%;
	border-left: 3px solid #2552d5;
	color: #333;
	font-size: 1.0rem;
}
.rn-gj ul.gj-ul li{
	width:20%;
	text-align: center;
	float: left;
	margin-bottom: 15px;
}
.rn-gj ul.gj-ul li img{
	width:70%;
}
.rn-gj ul.gj-ul li p.p-li{
	line-height: 30px;
	clear: both;
	color: #333;
}
@media screen and (max-width:320px){
.rn-gj ul.gj-ul li p.p-li{
	line-height: 30px;
	clear: both;
	color: #333;
	font-size: 0.8rem;
}
}
ul.ym-ul {
	width:100%;
	border-top: 1px solid #e5e5e5;
}
ul.ym-ul li{
	width:33.3%;
	float: left;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	padding: 15px 0;
	border-right: 1px solid #e5e5e5;
}
ul.ym-ul li:nth-child(3n){
	width:33.3%;
	float: left;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	padding: 15px 0;
	border-right:none;
}
.gj-feil{
	width:17%;
	float: left;
	text-align: center;
	line-height: 20px;
	
}
.gj-feil a{
	display: block;
}
.gj-feil img{
	width:25px;
	margin-top: 20px;
}
.gj-feil a span{
	color: #fff;
}
/*全部分类页面样式*/
.qbfl-coa{
	width:100%;
	min-height: 700px;
	height: auto;
	overflow: hidden;
	max-width: 750px;
	margin: 0 auto;
	background: #fff;
	border-top: 1px solid #e5e5e5;
}
.qbfl-coa .coa-li{
	width:90%;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.qbfl-coa .coa-li ul li{
	line-height: 50px;
	border-bottom: 1px solid #e5e5e5;
}
.qbfl-coa .coa-li ul li a{
	display: block;
}
.qbfl-coa .coa-li ul li a img{
	width: 10px;
	float: right;
	margin-top: 15px;
}
