/***************个人中心-我的***************/
.personal_top{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	background-color: #fff;
	/*padding: 10px;*/
}
.message{
	padding: 10px;
}
.message a img:first-child{
	width: 26px;
}
.message a img:first-child+img{
	width: 8px;
}
.login_status{
	padding: 20px 0 10px 0;
	margin: 0 10px;
	background: url(../img/per_bg.png) center no-repeat;
	background-size: 100%;
}
.login_status p:first-child{
	font-size: 24px;
	font-family:SimHei;
	color:#333;
}
.login_status p:first-child+p{
	margin: 30px 0 40px 0;
}
.login_status p:first-child+p a{
	display: inline-block;
	border:1px solid #2552d5;
	border-radius: 5px;
	font-size: 18px;
}
.login_status p:first-child+p a:first-child{
	color:#fff;
	background-color: #2552d5;
	margin-right: 10px;
	padding: 10px 15px;	
}
.login_status p:first-child+p a:first-child+a{
	color:#2552d5;
	padding: 10px 10px;	
}
.mine_box a{
	display: block;
	padding-top:10px;
	text-align: center;
}
.mine_box a:first-child+a{
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.mine_box a img{
	display: block;
	margin: 0 auto;
	width: 24px;
	height:24px;
}
.mine_box a p{
	font-size: 14px;
	color:#333;
	padding: 5px 0;
}
.personal_list{
	width: 100%;
	max-width: 750px;
	background-color: #fff;
	margin:10px auto 0 auto;
	padding-bottom: 0;
}
.personal_list ul li{
}
.personal_list ul li a {
	display: block;
	font-size: 16px;
	height: 50px;
	padding:0 10px;
	line-height: 50px;
	border-bottom:1px solid #e5e5e5;
}
.personal_list ul li a img{
	display: block;
	margin-top: 15px;
	margin-right: 10px;
	width: 20px;
}
.personal_list ul li a span img{
	display: block;
    margin-top: 18px;
    margin-right: 5px;
    width: 8px;
}
.personal_list ul li:first-child+li+li+li+li a img{
	margin-top: 17px;
}

.footer_nav{
	margin: 0 auto;
	max-width: 750px;
	background-color: #fff;
	box-shadow: none;
	border-top:1px solid #e5e5e5;
}
.footer_nav a img{
	width: 34%;
	max-width: 34px;
	margin: 0 auto 5px auto;
}
.footer_nav a{
	padding: 6px 0 0 0;
	font-size: 14px;
	color:#333 !important;
}
.footer_nav .home_img{
	width: 70%;
	max-width: 70px;
	margin: 2px auto 0 auto;
}

.act_color span{
	color:#2552d5 !important;
}
.act_color span:first-child{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #2552d5;
}
.act_color span:first-child img {
    width: 66%;
    padding-top: 2px;
}

/*已登录状态*/
.login_after{
	padding: 0 10px;
	margin:0;
	border-bottom: 1px solid #e5e5e5;
}
.login_after a{
	position: relative;
	display: block;
}
.login_after a img:first-child{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.login_after a img:first-child{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.login_after a img:first-child+img{
	position: absolute;
	bottom:0;
	right:0;
	width: 16px;
}
.login_after .per_info{
	padding: 0 0 0 10px;
}
.login_after .per_info div{
	height: 30px;
	line-height: 30px;
}
.login_after .per_info p img{
	width: 20px;
	margin: 5px;
}
.com_name p:first-child{
	width: 180px;
	color:#333;
	font-size: 16px;
}
.fans_num p{
	margin-right: 10px;
	color:#333;
}
.fans_num p span{
	margin-left: 5px;
}
.feed_btn{
	width: 100%;
}
.feed_btn a{
	display: block;
	width: 130px;
	text-align: center;
	margin: 10px auto 20px auto;
	color:#fff;
	padding: 10px 0;
	font-size: 14px;
	border-radius: 5px;
	background-color: #2552d5;
}
@media only screen and (min-width: 568px) {
	.personal_list {
	    padding-bottom: 68px;
	}
}
@media only screen and (max-width:320px) {
	.login_status p:first-child+p {
	    margin: 30px 0 60px 0;
	}
	.login_status p:first-child+p a:first-child+a {
	    padding: 10px 5px;
	}
	.login_status p:first-child+p a {
	    font-size: 16px;
	}
	.personal_list {
	    width: 100%;
	    max-width: 750px;
	    background-color: #fff;
	    margin-top: 10px;
	    padding-bottom: 0;
	}
	.login_after a img:first-child {
	    width: 55px;
	    height: 55px;
	    border-radius: 50%;
	}
	.com_name p:first-child {
	    width: 160px;
	    color: #333;
	    font-size: 16px;
	}
	.login_after .per_info {
	    padding: 0 0 0 5px;
	}
}


/***************免费认证***************/
.rz_box{
	width: 100%;
	max-width: 750px;
	margin:0 auto;
	padding: 0 10px;
	border:1px solid #fff;
	background-color: #fff;
}
.back_top{
	height: 44px;
	background-color: #fff;
}
.back_top a{
	display: inline-block;
	height: 44px;
	font-size: 16px;
	color:#333 !important;
}
.back_top a img{
	width: 10px;
    margin: 11px 5px 0 0;
}
.back_top a span{
	display: block;
	line-height: 0;
	padding-top: 20px;
}
.ren_zheng{
	margin: 20px 0;
}
.ren_title{
	color:#333;
	font-size: 18px;
	text-align: center;
	margin: 20px 0;
	font-weight: 700;
}
.ren_zheng .stage1,.ren_zheng .stage2{
	text-indent: 2em;
	font-size: 16px;
}
.ren_zheng .stage2{
	font-size: 14px;
}
.ren_zheng .stage1 span,
.ren_zheng .stage2 span{
	color:#ff9e00;
}
.upload_photo{
	width: 80%;
	height: 200px;
	margin: 30px auto;
	border:1px dashed #ccc;
}
#rz_img{
	width: 100%;
	height: 100%;
	border:none;
}
.sc-btn {
    width: 166px;
    height: 34px;
    position: relative;
    margin: 20px auto;
}
.sc-btn .ti_img {
    width: 166px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.sc-btn #up {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 166px;
    height: 100%;
    opacity: 0;
}
.shen-qing {
    width: 100%;
    height: 40px;
    display: block;
    color: #fff;
    text-align: center;
    margin: 50px auto 0 auto;
    border: 1px solid #2552d5;
    background-color: #2552d5;
}
.suc_bg {
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
}
.suc_bg .suc_box{
	width: 82%;
	margin: 60% auto;
	border-radius: 5px;
	border:1px solid transparent;
	background-color: #fff;
}
.suc_box img{
	width: 24px;
	margin:20px auto 10px auto;
}
.suc_box p{
	color: #666;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
}
.suc_box .up_title{
	color: #333;
	font-size: 16px;
	text-align: center;
}
.suc_box a{
	color:#fff;
	font-size: 16px;
	display: block;
	width: 100px;
	text-align: center;
	padding: 10px 0;
	margin: 0 auto 20px auto;
	border-radius: 5px;
	background-color: #2552D5;
	border:1px solid #2552D5;
}
.suc_box a:hover{
	color: #fff !important;
}

/*******************设置******************/
.header_box{
	max-width: 750px;
	margin: 0 auto;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: none;
}
.header_box a{
	display: block;
}
.header_box .cai_dan,.header_box .cancel{
	width: 44px;
	height: 100%;
	text-align: center;
}
.header_box .cai_dan img{
	width: 60%;
	margin: 20px auto 0 auto;
}
.header_box .cancel{
	padding-top: 12px;
	font-size: 18px;
}
.header_box h1{
	font-size: 18px;
}
.set_list{
	position: relative;
	padding: 44px 0 0 0;
	max-width: 750px;
	margin: 0 auto;
	background-color: #fff;
}
.tel_box{
	padding:10px 20px;
	border-bottom: 1px solid #e5e5e5;
}
.tel_box img{
	width: 12px;
    margin-top: 5px;
	margin-right: 10px;
}
.tel_box p{
	color:#333;
	font-size: 16px;
	margin: 6px 0 0 0;
}
.tel_box p span:first-child{
	display: inline-block;
	min-width: 50px;
}
.tel_box p span:first-child+span{
	color:#666;
	font-size: 14px;
	margin-left: 10px;
}
.tel_box a{
	display: block;
	color:#fff;
	text-align: center;
	background-color: #ccc;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 1px;
}
.pwd_box img{
	width: 14px;
	margin-top: 9px;
} 
.go_out{
	width: 100%;
	position: absolute;
	bottom:80px;
	left: 0;
	padding: 0 20px;
}
.go_out a{
	display: block;
	padding: 10px 0;
	text-align: center;
	color:#fff;
	font-size: 16px;
	border-radius: 5px;
	background-color: #2552D5;
}
.muea_btn {
	height: 100%;
}
.muea_btn img{
	display: block;
	width: 50%;
	float: right;
	margin: 20px 5px 0 0;
}
.cd_list{
	width: 150px;
	position: fixed;
	top:40px;
	right: 10px;
	display: block;
	box-sizing: border-box;
	padding: 15px 20px;
	background: url(../img/cd_bg.png) center no-repeat;
	background-size: 100% 100%;
}

.cd_list li a{
	position: relative;
	display: block;
	line-height: 24px;
	padding: 10px 0 5px 0;
	border-top: 1px solid #e5e5e5;
}
.cd_list li:first-child a{
	border-top: none;
}
.cd_list li a img{
	position: absolute;
	top:10px;
	left: 0;
	width: 24px;
	max-height: 24px;
}
.cd_list li a span{
	font-size: 14px;
	margin-left: 40px;
}

/*********************验证手机号**********************/
.nav_top{
	max-width:750px;
	margin:0 auto;
	padding: 0 10px;
	border-bottom: 1px solid #e5e5e5;
}
.nav_top p{
	width: 70%;
	text-align: center;
	color:#333;
	font-size: 18px;
	padding-top: 11px;
	margin:0 auto;
}
.yanzheng_tel{
	max-width:750px;
	margin:0 auto;
	padding: 0 15px;
	background-color: #fff;
}
.old_tel{
	height: 51px;
	border-bottom: 1px solid #e5e5e5;
}
.old_tel p:first-child{
	width: 20%;
	padding: 15px 0 0 0;
}
.old_tel p:first-child span{
	margin-right: 10px;
	color:#00a5d7;
}
.old_tel p:first-child+p{
	width: 80%;
}
@media only screen and (max-width: 320px) {
	.old_tel p:first-child{
		width: 25%;
	}
	.old_tel p:first-child+p{
		width: 75%;
	}
}
.old_tel p:first-child+p input{
	border:none;
	margin: 0;
	height: 50px;
}
.msg_box{
	height: 51px;
	border-bottom: 1px solid #e5e5e5;
}
.msg_box p:first-child{
	width: 25%;
	padding-top: 15px;
}
.msg_box p:first-child+p{
	width: 45%;
}
.msg_box p:first-child+p input{
	border:none;
	margin: 0;
	height: 50px;
	padding-left: 2px !important;
}
.msg_box p:first-child+p+p{
	width: 30%;
	padding: 10px 0 0 0;
}
.msg_box p:first-child+p+p button{
	display: block;
	width: 100%;
	color:#fff;
	text-align: center;
	padding: 5px;
	border:1px solid #ff9e00;
	background-color: #ff9e00;
}

@media only screen and (min-width: 568px){
	.msg_box p:first-child{
		width: 20%;
		padding: 15px 0 0 0;
	}
	.msg_box p:first-child+p{
		width: 50%;
	}
	.msg_box p:first-child+p input {
	    padding-left: 15px !important;
	}
}
@media only screen and (max-width: 320px) {
	.msg_box p:first-child{
		width: 30%;
		padding: 15px 0 0 0;
	}
	.msg_box p:first-child+p{
		width: 40%;
	}
}
.bd_tel{
	display: block;
	width: 100%;
	padding: 10px 0;
	color:#fff;
	margin: 30px 0 0 0;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
	border:1px solid #2552D5;
	background-color: #2552D5;
}
.bd_tel:hover{
	color:#fff !important;
	}
.no_click{
	border:1px solid #e5e5e5 !important;
	background-color: #e5e5e5 !important;
}

/*mui消息提示框垂直居中*/
.mui-toast-container {
    top: 50% !important;
}
.mui-toast-message{
	padding: 10px 15px !important;
}

/*******************我的公司********************/
.myCom_top{
	height: 180px;
	max-width: 750px;
	margin: 0 auto;
	background: url(../img/myCom_bg.png) center 0 no-repeat;
	background-size: 100%;
	position: relative;
}
.blue_bg{
	width: 100%;
	height:100%;
	padding: 0 10px;
	position: relative;
	background-color: rgba(132,153,223,0.8);
}
.muea_btn{
	padding: 20px 10px;
	height: auto !important; 
}
.muea_btn img{
	display: block;
	width:30px !important;
	margin: 0 !important;
}
.guan_zhu{
	padding: 15px 10px;
	height: auto !important; 
}
.guan_zhu img{
	display: block;
	width:20px !important;
	margin: 0 !important;
}
.cd_list{
	width: 150px;
	position: absolute;
	top:30px;
	right: 10px;
	z-index: 100;
	display: block;
	box-sizing: border-box;
	padding: 15px 20px;
	background: url(../img/cd_bg.png) center no-repeat;
	background-size: 100% 100%;
}

.cd_list li a{
	position: relative;
	display: block;
	line-height: 24px;
	padding: 10px 0 5px 0;
	border-top: 1px solid #e5e5e5;
}
.cd_list li:first-child a{
	border-top: none;
}
.cd_list li a img{
	position: absolute;
	top:2px;
	left: 4px;
	width: 22px;
	max-height: 24px;
}
.cd_list li a span{
	font-size: 14px;
	margin-left: 40px;
	padding-top: 14px !important;
}
.nav_edit{
	position: absolute;
	right:15px;
	bottom: 60px;
	padding: 5px;
	height: auto !important;
}
.fans_look{
	width: auto !important;
	position: absolute;
	bottom:5px;
	right:20px;
}
.fans_box p,.look_num p{
	color:#fff;
	margin-right: 10px;
	text-align: center;
}
	
.myCom_title{
	width: 100%;
	max-width: 750px;
	/*height: 180px;*/
	margin: 0 auto;
	background-color: #fff;
	border:1px solid transparent; 
}
.myCom_title .myCom_logo{
	width: 100px;
	height: 100px;
	position: relative;
	z-index: 10px;
	margin: -50px auto 0 auto; 
}
.myCom_name {
	display: table;
	margin: 20px auto 0 auto;
}
.myCom_name span{
	max-width: 240px;
	font-size: 16px;
	color:#333;
}
.myCom_name img{
	width: 20px;
	height: 20px;
	margin: 2px 0 0 5px;
}
.myCom_title .add_tabs{
	display: block;
	width: 100px !important;
	height: auto !important;
	padding: 10px 0;
	border:1px solid #e5e5e5;
	border-radius: 5px;
	text-align: center;
	margin: 20px auto;
}
.myCom_tabs{
	width: 90%;
	text-align: center;
	margin: 10px auto;
}
.myCom_tabs a{
	display: inline-block;
	padding: 0 4px;
	height: 24px;
	margin:5px 0;
	font-size: 12px;
	border:1px solid #e5e5e5;
	border-radius: 12px;
	background-color: #f8f8f8;
}
.basic_info,.hot_service,.about_us,.company_news,.recommend_company{
	max-width: 750px;
	margin: 10px auto 0 auto;
	background-color: #fff;
	padding: 0 10px;
	border:1px solid transparent;
}
.module_title p{
	color:#333;
	font-size: 16px;
	padding-left: 5px;
	margin: 20px 0 0 0;
	border-left:4px solid #2552d5;
}
.module_title a{
	display: block;
	color:#2552d5;
	font-size: 16px;
	padding: 20px 0 0 10px;
}
.com_lists{
	border-top: 1px solid #e5e5e5;
}
.com_lists:first-child{
	border-top:none;
}
.com_lists p{
	width: 20%;
	padding: 15px 0;
	text-align: left;
}
.com_lists div{
	width: 80%;
	padding: 15px 0;
	text-align: left;
}
.rong_zi div{
	width: 50%;
}
.rong_zi .rz_time{
	width: 30%;
	text-align: right;
}
.hot_service{
	border:1px solid transparent;
}
.hot_service .module_title p img{
	width: 20px;
	margin: 2px 0 0 5px;
}
.com_pro{
	padding: 20px 0;
	width: 100%;
}
.com_pro img{
	display: block;
	width: 50px;
	margin: 10px auto;
}
.com_pro p{
	color:#333;
	text-align: center;
}
.rxfw-c{
	max-width:750px;
	min-height: 226px; 
	height: auto;
	overflow: hidden; 
	margin: 20px auto;
}
.rxfw-ca{
	width:200px !important;
	padding: 0 !important;
	margin-right: 10px;
	background: #f8f8f8;
}
.rxfw-ca img{
	height: 150px;
}
.rxfw-ca p{
	box-sizing: border-box;
	padding: 0 10px;
}
.rxfw-ca p.qyxq-p{
	color:#333;
	text-align: left;
	font-size: 16px;
}
p.qyxq-pp{
	color: #ff9e00;
	text-align: left;
}
p.qyxq-pp span{
	color: #999999;
	padding: 0 10px;
}

.au_info{
	margin-top: 10px;
}
.au_box{
	padding-bottom: 10px;
	border-top: 1px solid #e5e5e5;
}
.au_box:first-child{
	border-top: none;
}
.au_info .au_box div.au_img{
	width: 20%;
}
.au_info .au_box div.au_img img{
	width: 100%;
	margin: 50% auto;
}
.au_info .au_box .au_txt{
	width: 80%;
	padding-left: 10px;
}
@media only screen and (min-width: 768px) {
	.au_info .au_box div.au_img {
	    width: 10%;
	}
	.au_info .au_box .au_txt{
		width: 90%;
	}
	.au_info .au_box div.au_img img{
		width: 100%;
		margin: 30% auto;
	}
}
.au_info .au_box .au_txt p{
	color:#666;
}
.au_info .au_box .au_txt p:first-child{
	color:#333;
	font-size: 16px;
	margin: 5px 0;
}

.company_news .del_btn{
	color:#ff9e00;
}
.news_content {
	border:1px solid transparent;
}
.news_content a.add_btns{
	display: block;
	padding: 10px 0;
	width: 100px;
	border:1px solid #e5e5e5;
	border-radius: 5px;
	margin: 30px auto;
	text-align: center;
}
.news_list{
	position: relative;
	margin: 10px 0 0 0;
}
.news_list .check_btn{
	width: 10%;
	min-height: 60px;
	text-align: center;
}
.news_list .check_btn input{
	width: 20px;
	height: 20px;
	position: absolute;
	top:30%;
	left: 0;
	border:1px solid #e5e5e5;
	background-color: #fff;
}
.news_info{
	width: 90%;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.news_info p.news_title{
	height: 42px;
	color:#333;
	font-size: 16px;
}
.news_info p.time_edit{
	margin-top: 5px;
}
.news_info p.time_edit a{
	color:#2552D5;
}

.recommend_company ul{
	margin: 20px 0;
}
.recommend_company ul li a {
	display: block;
	padding: 5px;
}
.recommend_company ul li a img{
	width: 100%;
	display: block;
	border:1px solid #e5e5e5;
}

.fixeds{
	width: 100%;
	height: 44px;
	padding: 0 10px;
	position: fixed;
	top:0;
	left: 0;
	z-index: 10000;
	box-shadow: 0 0 5px 2px #ccc;
	background-color: #fff;
}
.fixeds a span{
	color:#333 !important;
}


/********************编辑企业头像、标签、名称***********************/
#edit_content{
	display: block;
	max-width: 750px;
	box-sizing: border-box;
	padding:0 15px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	border-top: 1px solid transparent;
}
.upload_img{
	padding-top: 15px;
	margin-bottom: 15px;
}
.upload_img div{
	/*height: 85px;*/
}
.upload_img div:first-child{
	padding: 30px 0 0 0;
	text-align: left;
	color: #333;
}
.upload_img div:first-child+div img{
	width: 75px;
	height: 75px;
	border:1px solid #e5e5e5;
	border-radius: 5px;
}
.upload_img div:first-child+div+div{
	position: relative;
	height: 36px;
	margin-top: 38px;
}
.upload_img div:first-child+div+div p{
	display: block;
	width: 100px;
	text-align: center;
	padding: 5px 5px;
	border:1px solid #e5e5e5;
	border-radius: 5px;
	position: absolute;
	left: 10px;
	bottom:0;
	z-index: 10;
}

.upload_img div:first-child+div+div p img{
	width: 20px;
	height:20px;
	margin-left: 5px;
}
.upload_img div:first-child+div+div input{
	display: block;
	text-align: center;
	width: 100px;
	padding: 5px 5px;
	border-radius: 5px;
	border:none !important;
	position: absolute;
	left: 10px;
	bottom:0;
	z-index: 11;
	opacity: 0;
}
.pro_name {
	
}
.pro_name p:first-child,
.com_names p:first-child,
.com_tab p:first-child{
	padding: 10px 0;
	color:#333;
}
#edit_content div p input{
	border-radius: 6px;
} 
.com_tab p:first-child+p+p{
	padding: 10px 0;
	color:#ff9e00;
	text-align: right;
}
.com_tab p:first-child+p{
	position: relative;
}
.com_tab p:first-child+p input{
	display: inline-block;
	width: 70%;
	border-radius: 6px 0 0 6px !important;
}
.com_tab p:first-child+p a{
	display: inline-block;
	width: 30%;
	height: 40px;
	line-height: 0;
	padding: 18px 0 0 0;
	position: absolute;
	top:0;
	right: 0;
	color:#fff;
	font-size: 24px;
	text-align: center;
	border-radius: 0 6px 6px 0;
	background-color: #2552d5;
}
.com_tab p:first-child+p a:hover{
	color:#fff !important;
}
.tabs_box{
	margin: 0 auto;
}
.save_btn{
	width: 100%;
	padding: 0 ;
}
.save_btn button{
	width: 100%;
	padding: 5px 0;
	color:#fff;
	font-size: 18px;
	background-color: #2552D5;
	border:1px solid #2552D5;
}
.tab_list p{
	padding: 8px 0;
	text-align: center;
	color:#333;
	font-size: 16px;
	border-radius: 6px;
	margin: 0 10px 10px 0;
	background-color: #f8f8f8;
	overflow: hidden;
	position: relative;
}
.tab_list p a{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top:-11px;
	right: -11px;
}
.tab_list p a img{
	width: 100%;
}
.save_btn{
	margin-top: 40px;
}
.mui-popup-button.mui-popup-button-bold{
	font-weight: 300;
}

/*******************编辑基本信息******************/
#edit_content:before,
#edit_content:after{
	background-color: transparent !important;
}
#edit_content .mui-input-row{
    height:auto !important;
    border-bottom: 1px solid #e5e5e5;
}

.mui-input-row label {
	width: 30%;
    padding: 20px 15px 18px 15px;
}
.mui-input-row input{
	width: 70%;
	height: 50px;
}
.mui-input-row .select_box{
	width: 70% ;
	height: 50px;
	float: left;
	padding-top: 10px;
}
.select_box div{
	float: left;
	width: 30% ;
	margin-right: 3%;
	position: relative;
} 
.select_box div span{
	display: inline-block;
	font-size: 14px;
    width: 100% !important;
    height: 30px;
    float: none;
    padding: 4px 0;
    text-align: center;
    margin: 0 !important;
    border:1px solid #e5e5e5 !important;
    border-radius: 5px !important;
}
.mui-input-row select {
    font-size: 14px;
    width: 100% !important;
    height: 30px;
    float: none;
    margin: 0 !important;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}
.mui-input-row select option{
	text-align: center;
}
.big_wid .select_box div{
	width: 50% !important;
}

/****************发布产品****************/
#edit_product,#edit_news{
	max-width: 750px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 15px;
}
#edit_product .mui-input-row{
	padding-top: 15px;
}
#edit_product .mui-input-row label{
	width: 28%;
	padding: 20px 10px 18px 10px !important;
}
#edit_product .mui-input-row input{
	width: 72%;
	float: left;
	padding-left: 10px;
	display: inline-block;
	border:1px solid #e5e5e5;
	border-radius: 5px;
}
.pro_price input{
	width: 30% !important;
	float: left;
}
.mui-input-row .add_box{
	float: left;
	width: 72%;
	position: relative;
}
.mui-input-row .add_box .add_img{
	width: 50%;
	height: 80px;
	text-align: center;
	font-size: 50px;
	font-weight: 300;
	/*padding: 35px 0 35px 0;*/
	border:1px solid #e5e5e5;
}
.mui-input-row .add_box img{
	width: 100% !important;
	height: 80px;
	border:none;
}
.mui-input-row .add_box .add_input{
	width: 50%;
	height: 80px;
	position: relative;
}
.mui-input-row .add_box .add_input input{
	position: absolute;
	left:15px;
	bottom:0;
	z-index: 20;
	opacity: 0;
	display: block;
	border:1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px 10px;
	height: auto !important;  
}
.mui-input-row .add_box .add_input span{
	display: block;
	border:1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px 10px;
	position: absolute;
	left:15px;
	bottom:0;
	z-index: 10;
}
.mui-input-row .add_box p{
	font-size: 12px;
	color:#ff9e00;
	margin-top: 5px;
}

/******************关于我们*******************/
.company_intro{
	padding-top: 15px;
}
.about_title img{
	width: 20px;
	margin-right: 5px;
}
.company_intro textarea{
	width: 100%;
	height: 120px;
	padding: 10px;
	margin-top: 15px;
}
