body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font-family:Microsoft YaHei,"微软雅黑";font-size: 14px;}
*{ padding:0px; margin:0px;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul{ list-style:none; margin:0; padding:0;}
a{color:#333;text-decoration:none;}
a:hover { text-decoration:none; color:#e91919 !important;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; cursor: pointer;}
table { border-collapse:collapse; border-spacing:0; }
/*解决IE不支持H5标签*/
main, nav, header, footer, section, article, aside, dialog, figure, menu ,img{
    display: block;
}
/*清除浮动*/
.clearfix:after{content:"";display:block;height:0;clear:both;}
.clearfix{*+height:1%;}
/**************************公共样式****************************/
.color-fff{
	color:#fff;
}
.color-333{
	color: #333;
}
.color-666{
	color:#666;
}
.color-999{
	color:#999;
}
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 12px;
}
.font-16{
	font-size: 12px;
}
.font-18{
	font-size: 12px;
}
.font-20{
	font-size: 12px;
}
.mar-top-20{
	margin-top: 20px;
}
.mar-rt-20{
	margin-right: 20px;
}
.mar-bot-20{
	margin-bottom: 20px;
}
.mar-lf-20{
	margin-left: 20px;
}
.float_lf{
	float:left;
}
.float_rt{
	float:right;
}
.txt-num1{
	overflow: hidden;
	-o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space:nowrap;
    -webkit-box-orient: vertical;
}